@use "main";

.square {
  width: 64px;
  height: 64px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  &.selectable {
    cursor: pointer;
  }

  &.white {
    background-color: main.$light;

    &.selected {
      background-color: main.$light-selected;
    }
  }

  &.black {
    background-color: main.$dark;

    &.selected {
      background-color: main.$dark-selected;
    }
  }

  > .piece {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  > .move, > .capture {
    position: absolute;
    border-radius: 100%;
    opacity: 0.6;
    pointer-events: none;
  }

  > .capture {
    width: 40px;
    height: 40px;

    background-color: transparent;
    border: 6px solid white;

    cursor: pointer;
  }

  > .move {
    width: 16px;
    height: 16px;

    background-color: white;
  }
}
